*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Nav start  */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 2px 32px;
}
nav h2{
    color: 0E0E0E;
    font-weight: bold;
    font-size: 32px;
    
}
nav ul{
    display: flex;
}
nav ul li{
    color: black;
    list-style: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 400;
    font-size: 25px;
}
nav ul li .button2{
    background-color: white;
    color: #006A50;
    border-radius: 3px;
    padding: 5px 10px;
    align-items: center;
}
.hero-section{
    height: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    gap: 60px;
    min-height: 600px;
    max-height: 800px;
}
.hero-section .left{
    /* width: 100vh; */
    padding-left: 100px;
    justify-content: center;
}

.hero-section .left h5{
    font-size: 16px;
    color: #5f5e5e;
}
.hero-section .left p{
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-section .left a{
    text-decoration: none;
    font-size: 22px ;
    color: white;
    
}

.right{
    padding-right: 150px;
}
.hero-section .hero-button{
    background-color: #006A50;
    justify-content: space-between;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #006A50 ;
}
.hero-button.color{
    color: #006A50;
    background-color: white;
}
.hero-section .left .hero-button.color{
    color: black;
}